body {
  font-family: "Inter", sans-serif;
}

.header__inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #C5F513;
  min-height: 60px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}
.header__inner-login-btn {
  padding: 10px 38px;
  transition: all 0.3s;
  border-radius: 5px;
  border: 2px solid #000;
  height: 40px;
  width: 120px;
}
.header__inner-login-btn:hover {
  color: #F5F5F5;
  background-color: #F6008F;
  border: 2px solid #F6008F;
}
.header__inner-sign-btn {
  padding: 10px 28.5px;
  color: #F5F5F5;
  border: 2px solid #000;
  background-color: #112639;
  margin-left: 10px;
  transition: all 0.3s;
  border-radius: 5px;
  height: 40px;
  width: 150px;
  text-align: center;
}
.header__inner-sign-btn:hover {
  color: #112639;
  background-color: #F6008F;
  border: 2px solid #F6008F;
}
.header__inner-avatar {
  margin: 0 20px;
}

.avatar-img {
  max-width: 60px;
}

.aside-add {
  position: relative;
}

.aside-bar {
  max-width: 220px;
  min-height: calc(100vh - 60px);
  background-color: #1D3143;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;
}
.aside-bar__list {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.aside-bar__item {
  font-weight: 700;
  padding: 16.5px 0 13.5px 44px;
  border-top: 1px solid #255B76;
  cursor: pointer;
  width: 220px;
  transition: all 0.3s;
  min-height: 50px;
}
.aside-bar__item:hover {
  background-color: #87CEEB;
  color: #1d3143;
  max-width: 100%;
}
.aside-bar__link {
  max-width: 100%;
}

.logo {
  max-width: 220px;
  min-height: 60px;
  padding: 0 45px;
  background-color: #12263A;
  display: flex;
  align-items: center;
}
.logo__img {
  display: block;
}

.add {
  margin-top: auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
.add__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: #F6008F;
  min-height: 60px;
  max-width: 100%;
  font-weight: 700;
}
.add__inner-text {
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-left: 220px;
}
.add__inner-link {
  padding: 11px 13px 8px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  background-color: #112639;
  border-radius: 5px;
  transition: all 0.3s;
  width: 150px;
  height: 40px;
}
.add__inner-link:hover {
  color: #112639;
  background-color: #C5F513;
}

.form__inner-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}
.form__title {
  font-size: 24px;
  line-height: 29px;
  color: #12263A;
  margin-top: 25px;
}

.container {
  margin: 0 auto;
}

.writing-columns {
  display: flex;
  gap: 20px;
}

.column-subtitle {
  font-size: 20px;
  line-height: 24px;
  color: #12263A;
  margin-bottom: 5px;
}

.column-input {
  height: 25px;
  background: #C3E6F5;
  font-size: 16px;
  border: 1px solid #2E86AA;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding: 0 5px;
}

.c-1 {
  width: 300px;
}

.c-2 {
  width: 200px;
}

.c-3 {
  width: 150px;
}

.textarea {
  margin-bottom: 15px;
}

.text-for-topics {
  width: 100%;
  height: 660px;
  background: #C3E6F5;
  border: 1px solid #2E86AA;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding: 5px 10px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.post-later {
  background-color: #112639;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 10px 36px;
  border-radius: 5px;
  transition: all 0.3s;
  width: 150px;
  height: 40px;
  margin-bottom: 100px;
}
.post-later:hover {
  background-color: #F6008F;
  color: #112639;
}

.post-now {
  background-color: #112639;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 10px 36px;
  border-radius: 5px;
  transition: all 0.3s;
  width: 150px;
  height: 40px;
  margin-bottom: 100px;
}
.post-now:hover {
  background-color: #C5F513;
  color: #112639;
}

.format-btns {
  margin-left: 5px;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}

.format-btn {
  padding: 5px 8px;
  margin-left: -5px;
  background-color: #112639;
  border: 1px solid #000;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}
.format-btn:first-child {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.topic-name {
  padding: 19px 25px;
  margin: 0 auto;
  background: #C3E6F5;
  border-radius: 10px;
  margin-bottom: 10px;
}
.topic-name__inner-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 14px;
}
.topic-name__img {
  border: 1px solid #2E86AA;
  border-radius: 5px;
  max-width: 30px;
  transition: all 0.3s;
}
.topic-name__img:hover {
  border: 1px solid #F6008F;
}
.topic-name__subtitle {
  font-size: 16px;
  line-height: 19px;
  color: #12263A;
  transition: all 0.3s;
  cursor: pointer;
}
.topic-name__subtitle:hover {
  color: #F6008F;
}
.topic-name__time {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1D3143;
}
.topic-name__title {
  font-size: 20px;
  line-height: 24px;
  color: #12263A;
  margin-bottom: 16px;
  transition: all 0.3s;
  cursor: pointer;
}
.topic-name__title:hover {
  color: #2E86AA;
}
.topic-name__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  max-width: 1490px;
  margin-bottom: 15px;
}
.topic-name__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  background: #112639;
  border-radius: 5px;
  padding: 9px 22px;
  transition: all 0.3s;
}
.topic-name__btn:hover {
  background: #C5F513;
  color: #112639;
}

.del-ed {
  margin-left: auto;
  margin-top: 6px;
}
.del-ed__edit {
  background-color: #1D3143;
  padding: 9px 7px 8px 8px;
  margin-right: 6px;
}
.del-ed__delete {
  background-color: #1D3143;
  padding: 9px 9px 8px 10px;
}

.wrapper {
  max-width: calc(100vw - 220px);
  margin-left: 220px;
  margin-bottom: 100px;
}

.mini-wrapper {
  margin: 20px 10%;
}/*# sourceMappingURL=style.css.map */