<div class="aside-add">
    <aside class="aside-bar">
        <a class="logo" href="/"><img class="logo__img" src="images/logo.svg" alt=""></a>
        <ul class="aside-bar__list">
            <a class="aside-bar__item" href="new-topic">
                <li class="aside-bar__link">New Topic</li>
            </a><a class="aside-bar__item" href="#">
                <li class="aside-bar__link">New Quiz</li>
            </a><a class="aside-bar__item" href="topics">
                <li class="aside-bar__link">Topics</li>
            </a><a class="aside-bar__item" href="#">
                <li class="aside-bar__link">Quizess</li>
            </a>
        </ul>
    </aside>
    <div class="add">
        <div class="add__inner">
            <p class="add__inner-text">ДО -50% НА ЛУЧШИЕ КУРСЫ</p>
            <a class="add__inner-link" href="#">Выбрать курс</a>
        </div>
    </div>
</div>