<header class="header">
    <div class="header__inner">
        <a class="header__inner-login-btn" href="#">Login</a>
        <a class="header__inner-sign-btn" href="#">Sign up</a>
        <a class="header__inner-avatar" href="#"><img class="avatar-img" src="images/avatar.svg" alt=""></a>
    </div>
</header>