<!DOCTYPE html>
<html lang="ru">
<%- include('./partials/head') %>

    <body>
        <%- include ('./partials/header') %>
            <%- include ('./partials/aside-add') %>
                <div class="wrapper">
                    <div class="mini-wrapper"><h1 style="text-align: center;">Error 404</h1></div>
                </div>
    </body>

</html>