<!DOCTYPE html>
<html lang="ru">
<%- include('./partials/head') %>

    <body>
        <%- include ('./partials/header') %>
            <%- include ('./partials/aside-add') %>
                <div class="wrapper">
                    <div class="mini-wrapper"></div>
                </div>
    </body>

</html>