<!DOCTYPE html>
<html lang="ru">
<%- include('./partials/head') %>

    <body>
        <%- include ('./partials/header') %>
            <%- include ('./partials/aside-add') %>
                <div class="wrapper">
                    <div class="mini-wrapper">
                        <form class="form" method="post" action="/new-topic">
                            <div class="container">
                                <div class="form__inner-top">
                                    <h2 class="form__title">New Topic</h2>
                                    <div class="writing-columns">
                                        <div class="column-1">
                                            <h3 class="column-subtitle">Topic Title</h3>
                                            <input class="column-input c-1" type="text" name="title">
                                        </div>
                                        <div class="column-2">
                                            <h3 class="column-subtitle">Author</h3>
                                            <input class="column-input c-2" type="text" name="author">
                                        </div>
                                        <!--<div class="column-3">
                                            <h3 class="column-subtitle">Another date</h3>
                                            <input class="column-input c-3" type="text">
                                        </div>-->
                                    </div>
                                </div>
                                <div class="textarea">
                                    <textarea class="text-for-topics" type="text" name="text"></textarea>
                                </div>
                                <div class="form-buttons">
                                    <div class="format-btns">
                                        <button type="button" class="format-btn" name="KeyB" style="font-weight: bold">B</button>
                                        <button type="button" class="format-btn" name="KeyI" style="font-style: italic">I</button>
                                        <button type="button" class="format-btn" name="KeyU" style="text-decoration: underline">U</button>
                                        <button type="button" class="format-btn" name="KeyS" style="text-decoration: line-through">S</button>
                                        <button type="button" class="format-btn" name="KeyBr">Br</button>
                                    </div>
                                    <div class="post-btns">
                                        <button class="post-later">Post later</button>
                                        <button class="post-now">Post now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <script>
                    let text = document.querySelector('.text-for-topics')

                    let hotKeys = ['KeyB', 'KeyI', 'KeyU', 'KeyS']
                    let tagKeys = ['b', 'i', 'u', 's']
                    let buttons = document.querySelector('.format-btns')

                    buttons.addEventListener('mousedown', (e) => {
                        if (e.target.closest('.format-btn')) {
                            e.preventDefault() // Disable focus on button
                            textEditor(e.target.name)
                        }
                    })

                    text.addEventListener('keydown', (e) => textEditor(e))

                    function textEditor(e) {
                        let startSelected = text.selectionStart;
                        let endSelected = text.selectionEnd;
                        let selectedText = text.value.substring(startSelected, endSelected)
                        if (e == 'KeyBr') {
                            text.value = text.value.substring(0, startSelected) + '<br>' + text.value.substring(startSelected)
                        }
                        else {  
                            for (let i = 0; i < hotKeys.length; i++) {
                                if (((e.ctrlKey && e.code == hotKeys[i]) || e == hotKeys[i]) && selectedText) {
                                    let fullText = text.value.substring(0, startSelected) // before Selected
                                    if (selectedText.includes('<' + tagKeys[i] + '>') && selectedText.includes('</' + tagKeys[i] + '>')) {
                                        while (selectedText.includes('<' + tagKeys[i] + '>')) {
                                            selectedText = selectedText.replace('<' + tagKeys[i] + '>', '').replace('</' + tagKeys[i] + '>', '') // Selected
                                        }
                                        fullText += selectedText // before Selected + Selected
                                    }
                                    else {
                                        fullText += '<' + tagKeys[i] + '>' + selectedText + '</' + tagKeys[i] + '>' // before Selected + Selected
                                    }
                                    fullText += text.value.substring(endSelected) // before Selected + Selected + after Selected
                                    text.value = fullText
                                }
                            }
                        }
                    }
                </script>

    </body>

</html>