<!DOCTYPE html>
<html lang="ru">
<%- include('./partials/head') %>

    <body>
        <%- include ('./partials/header') %>
            <%- include ('./partials/aside-add') %>
                <div class="wrapper">
                    <div class="mini-wrapper">
                        <form class="form" method="post" action="/new-topic">
                            <div class="container">
                                <div class="form__inner-top">
                                    <h2 class="form__title">New Topic</h2>
                                    <div class="writing-columns">
                                        <div class="column-1">
                                            <h3 class="column-subtitle">Topic Title</h3>
                                            <input class="column-input c-1" type="text" name="title">
                                        </div>
                                        <div class="column-2">
                                            <h3 class="column-subtitle">Author</h3>
                                            <input class="column-input c-2" type="text" name="author">
                                        </div>
                                        <div class="column-3">
                                            <h3 class="column-subtitle">Another date</h3>
                                            <input class="column-input c-3" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="textarea">
                                    <textarea class="text-for-topics" type="text" name="text"></textarea>
                                </div>  
                                <div class="form-buttons">
                                    <input class="post-later" type="submit" value="Post later">
                                    <input class="post-now" type="submit" value="Post now">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
    </body>

</html>